.animation-one {
  animation-name: slide-in-from-right;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animation-two {
  animation-name: slide-out-from-right;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-from-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}