.animation-one {
  animation-name: slide-in-from-right;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animation-two {
  animation-name: slide-in-from-left;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.animation-three {
  animation-name: opacity-change;
  animation-duration: 1.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-from-left {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes opacity-change {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}