.hexa-header {
  margin-top: 23vh;
  opacity: 0;
}

.hexa {
  display: flex;
  justify-content: space-between;
  align-items: start;

  margin-top: 15px;
  height: 30vh;
  opacity: 0;

  border-radius: 5% 0 5% 0;

  position: relative;
  overflow: hidden;
}

.hexa::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url('../../images/assemblylanguage.JPG');
    background-size: contain;
    background-position: right;

    mask-image:
        radial-gradient(
            ellipse 48% 120% at 100% 50%,
            black 20%,
            transparent 100%
        );

    -webkit-mask-image:
        radial-gradient(
            ellipse 48% 120% at 100% 50%,
            black 20%,
            transparent 100%
        );
}

.hexa .wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: start;

  width: clamp(32%, 40%, 45%);
  height: clamp(40vh, 50vh, 28vh);
  
  margin-left: clamp(2px, 2vw, 3vw);
  margin-right: clamp(2px, 2vw, 3vw);

  background-color: transparent;
}

.hexa .wrapper-2 {
  background-color: rgba(126, 126, 126, 0.3);
  width: 4px;
  height: 100%;
  border-radius: 5px;
}

.hexa .wrapper-1 {
  margin-top: 5vh;
}

.hexa-2 {
  display: flex;
  justify-content: space-between;
  align-items: start;

  margin-top: 15px;
  height: 30vh;
  opacity: 0;

  border-radius: 5% 0 5% 0;

  position: relative;
  overflow: hidden;

  margin-bottom: 120px;
}

.hexa-2 .wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: start;

  width: clamp(32%, 40%, 45%);
  height: clamp(40vh, 50vh, 28vh);
  
  margin-left: clamp(2px, 2vw, 3vw);
  margin-right: clamp(2px, 2vw, 3vw);

  background-color: transparent;
}

.hexa-2 .wrapper-2 {
  background-color: rgba(126, 126, 126, 0.3);
  width: 4px;
  height: 100%;
  border-radius: 5px;
}

.hexa-2 .wrapper-1, .hexa-2 .wrapper-3 {
  margin-top: 5vh;
}

.hexa-2 .wrapper-3 {
  align-items: center;
}

.math {
  display: flex;
  align-items: center;
  justify-content: start;

  flex-direction: column;
}

rt {
  font-weight: 900;
  font-size: 1rem;
}

.hexa-3 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 15px;
  height: 60vh;

  border-radius: 5% 0 5% 0;

  position: relative;
  overflow: hidden;

  transform: translateX(-100vw);
}

.hexa-3::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url('../../images/nasaPhoto.webp');
    background-size: auto;
    background-position: right;

    mask-image: linear-gradient(
        to left,
        black 20%,
        transparent 50%
    );

    -webkit-mask-image:
        linear-gradient(
        to left,
        black 20%,
        transparent 51%
    );
}

.hexa-3::after {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url('../../images/computers.webp');
    background-position: left;
    background-repeat: no-repeat;

    mask-image: linear-gradient(
        to right,
        black 20%,
        transparent 51%
    );
    -webkit-mask-image:
        linear-gradient(
        to right,
        black 20%,
        transparent 51%
    );
}

.hexa-3 .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: start;

  width: clamp(32%, 40%, 45%);
  height: clamp(40vh, 54vh, 58vh);
  
  margin-left: clamp(2px, 2vw, 3vw);
  margin-right: clamp(2px, 2vw, 3vw);

  border-radius: clamp(4px, 12px, 20px);

  background-color: rgba(0, 0, 0, 0.35);
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;

  backdrop-filter: blur(5px);

  z-index: 1;

  transform: translateX(-100vw);
}

.hexa-3 .wrapper p {
  text-align: center;
  width: 90%;
}

.hexa-example {
  width: 90%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  border-color: rgb(66, 66, 66);
  border-style: solid;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  padding: 6px;
  font-size: 14px;
  font-family: "Fira Code", Roboto, Arial;
  margin-bottom: 6px;
}

.hexa-example-2 {
  margin-top: 10px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  border-color: rgb(66, 66, 66);
  border-style: solid;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  padding: 4px;
  font-size: 14px;
  font-family: "Fira Code", Roboto, Arial;
}