.title-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: clamp(1vh, 2vh, 3vh);

  width: 100%;
  height: 100%;
}

.head-title {
  position: relative;

  top: 0;

  font-size: clamp(1.5rem, 4vw, 3rem);

  margin-top: 2vh;
}

.computer-bases {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-evenly;

  height: clamp(100px, 40vh, 45vh);
  margin-bottom: clamp(3vh, 5vh, 6vh);
}

.computer-bases .wrapper-1, .computer-bases .wrapper-2, .computer-bases .wrapper-3 {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: start;

  width: clamp(10%, 30%, 40%);
  height: clamp(20%, 90%, 92%);
  
  margin-left: clamp(2px, 2vw, 3vw);
  margin-right: clamp(2px, 2vw, 3vw);

  background-color: transparent;
}

h2 {
  margin-bottom: clamp(1px, 0.3vw, 4px);
  font-size: clamp(1rem, 1.25vw, 2rem);
}
.computer-bases p {
  margin-top: 2px;
  height: clamp(20%, 90%, 92%);

  font-size: clamp(0.5rem, 3vw, 1rem);

  margin-bottom: clamp(3px, 0.35vw, 7px);
}

.computer-bases .wrapper-1, .computer-bases .wrapper-3{
  transform: translateX(-100vw);
}

.computer-bases .wrapper-2 {
  opacity: 0;
}

code {
  font-family: Arial;
  font-size: clamp(0.5rem, 1vw, 1.5rem);
  font-weight: 500;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 2px;
  border-width: 2px;
  border-color: rgb(0, 55, 156);
  border-style: solid;
}

.binary-header {
  font-size: clamp(1.5rem, 4vw, 3rem);
  opacity: 0;
}

.binary {
  display: flex;
  justify-content: space-between;
  align-items: start;

  margin-top: clamp(5px, 1vw, 25px);
  height: clamp(15vh, 30vh, 40vh);
  opacity: 0;

  border-radius: 5% 0 5% 0;

  position: relative;
  overflow: hidden;
}

.binary::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url('../../images/Z3_Deutsches_Museum.JPG');
    background-size: auto;
    background-position: right;

    mask-image:
        radial-gradient(
            ellipse 48% 120% at 100% 50%,
            black 20%,
            transparent 100%
        );

    -webkit-mask-image:
        radial-gradient(
            ellipse 48% 120% at 100% 50%,
            black 20%,
            transparent 100%
        );
}

.binary .wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: start;

  width: clamp(32%, 40%, 45%);
  height: clamp(40vh, 50vh, 54vh);
  
  margin-left: clamp(2px, 2vw, 3vw);
  margin-right: clamp(2px, 2vw, 3vw);

  background-color: transparent;
}

.binary-main .wrapper p, .hexa-main .wrapper p, .decimal-main .wrapper p {
  font-size: clamp(0.5rem, 1vw, 1.5rem);
}

.binary .wrapper-2 {
  background-color: rgba(126, 126, 126, 0.3);
  width: 4px;
  height: 100%;
  border-radius: 5px;
}

.binary .wrapper-1 {
  margin-top: clamp(3vh, 5vh, 7vh);
}

.binary-2 {
  display: flex;
  justify-content: space-between;
  align-items: start;

  margin-top: clamp(5px, 1vw, 25px);
  height: clamp(15vh, 30vh, 40vh);
  opacity: 0;

  border-radius: 5% 0 5% 0;

  position: relative;
  overflow: hidden;

  margin-bottom: clamp(40px, 120px, 240px);
}

.binary-2 .wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: start;

  width: clamp(32%, 40%, 45%);
  height: clamp(40vh, 50vh, 54vh);
  
  margin-left: clamp(2px, 2vw, 3vw);
  margin-right: clamp(2px, 2vw, 3vw);

  background-color: transparent;
}

.binary-2 .wrapper-2 {
  background-color: rgba(126, 126, 126, 0.3);
  width: 4px;
  height: 100%;
  border-radius: 5px;
}

.binary-2 .wrapper-1, .binary-2 .wrapper-3 {
  margin-top: clamp(3vh, 5vh, 7vh);
}

.binary-2 .wrapper-3 {
  align-items: start;
}

.math {
  display: flex;
  align-items: center;
  justify-content: start;

  flex-direction: column;
}

.bool-math {
  font-weight: 600;
  font-size: clamp(0.5rem, 1vw, 1.5rem);
  background-color: lightgray;
  border: none;
  color: black;
  width: clamp(10px, 2vw, 45px);
  padding: clamp(1px, 0.15vw, 4px);
  text-align: right;
}

.bM1 {
  text-align: center;
  font-size: clamp(0.5rem, 1vw, 1rem);
  padding: clamp(1px, 0.15vw, 4px);
}

.bM2 {
  font-weight: 900;
  font-size: clamp(0.5rem, 1vw, 1rem);
}

rt {
  font-weight: 900;
  font-size: clamp(0.5rem, 1.5vw, 1.5rem);
}

.binary-3 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: clamp(5px, 1vw, 25px);
  height: clamp(20vh, 60vh, 100vh);

  border-radius: 5% 0 5% 0;

  position: relative;
  overflow: hidden;

  transform: translateX(-100vw);
}

.binary-3::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url('../../images/nasaPhoto.webp');
    background-size: auto;
    background-position: right;

    mask-image: linear-gradient(
        to left,
        black 20%,
        transparent 50%
    );

    -webkit-mask-image:
        linear-gradient(
        to left,
        black 20%,
        transparent 51%
    );
}

.binary-3::after {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url('../../images/computers.webp');
    background-position: left;
    background-repeat: no-repeat;

    mask-image: linear-gradient(
        to right,
        black 20%,
        transparent 51%
    );
    -webkit-mask-image:
        linear-gradient(
        to right,
        black 20%,
        transparent 51%
    );
}

.binary-3 .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: start;

  width: clamp(32%, 40%, 45%);
  height: clamp(40vh, 54vh, 58vh);
  
  margin-left: clamp(2px, 2vw, 3vw);
  margin-right: clamp(2px, 2vw, 3vw);

  border-radius: clamp(4px, 1vw, 20px);

  background-color: rgba(0, 0, 0, 0.35);
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;

  backdrop-filter: blur(5px);

  z-index: 1;

  transform: translateX(-100vw);
}

.bi3-1 {
  padding: 4px;
}

.binary-3 .wrapper p {
  text-align: center;
  width: 90%;
}

.decimal-2 .wrapper-3 p {
  margin-bottom: 2px;
}

.binary-example {
  width: 90%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  border-color: rgb(66, 66, 66);
  border-style: solid;
  border-radius: clamp(4px, 0.75vw, 14px);
  color: rgb(255, 255, 255);
  padding: clamp(2px, 0.5vw, 12px);
  max-width: 100%;
  overflow-x: auto;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-size: clamp(0.6rem, 1vw, 1rem);
  font-family: "Fira Code", Roboto, Arial;
  margin-bottom: clamp(2px, 0.5vw, 12px);
}

.binary-example-2 {
  margin-top: clamp(3px, 0.4vh, 12px);
  text-align: center;
  background-color: rgb(0, 0, 0);
  border-color: rgb(66, 66, 66);
  border-style: solid;
  border-radius: clamp(4px, 0.75vw, 14px);
  color: rgb(255, 255, 255);
  padding: clamp(2px, 0.4vw, 12px);
  font-size: clamp(0.5rem, 1vw, 1rem);
  font-family: "Fira Code", Roboto, Arial;
}

.python-inform {
  margin-top: clamp(0.5em, 1vw, 0.9em);
  margin-bottom: clamp(0.5em, 1vw, 0.9em);
}

.output {
  margin: 0;
  text-decoration: underline;
  text-underline-offset: clamp(1px, 0.15vw, 4px);
}

.python {
  text-align: center;
  background-color: rgb(0, 0, 0);
  border-color: rgb(66, 66, 66);
  border-style: solid;
  border-radius: clamp(4px, 0.75vw, 14px);
  color: rgb(255, 255, 255);
  padding: clamp(2px, 0.4vw, 12px);
  font-size: clamp(0.5rem, 1vw, 1rem);
  font-family: "Fira Code", Roboto, Arial;

  margin-bottom: clamp(4px, 0.75vw, 20px);
}

.citation-header {
  margin-top: clamp(5vh, 20vh, 40vh);
  opacity: 0;
}

.citation-text {
  font-family: "JetBrains Mono", Roboto, Arial;
}

.citation {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: clamp(0.5rem, 1vw, 1.5rem);

  transform: translateX(-100vw);
}

.yt-cite {
  text-overflow:clip;
}

